body{

}

#root {
  color: rgb(20, 20, 20);
  background-color: #a2d5f2;

}
h1{
  background-color: #a2d5f2;
 text-align: center;
}
.container{

}
select{
  margin:10px;
}
.row{
  display: flex;
  justify-content: center;
}
nav{
  background-color: #a2d5f2;
  margin-top:10px;
}
/* .navbar.navbar-light.bg-light{
  background-color: #d8d3cd;
} */
.card {
  margin: 10px;

}
.card-header{
  width:100%;
  margin-bottom: 10px;
}
.card-footer{
  margin-bottom: 0px;
}

.form-inline{
 /*  width:50%; */
 
}
.form-control{

}

