body{
  background-color: #a2d5f2;
}

#root {
  color: rgb(20, 20, 20);
  background-color: #a2d5f2;

}
h1{
  background-color: #a2d5f2;
  text-align: center;
}

label {
  height: 37px;
}
#firstLabel{
}
button{
  margin-right:5px;
  width: 30px;
  height: 37px;
}
.card{
margin-right: 0px;
}

/*  Styling for Show Summary Element  */

#showCardImg{
  width:100%;
  height: 300px;
}
#showCard{
  margin-right:3px;
}
#firstSelectDiv{
margin-left:20px;
margin-right:5px;
padding:0px;
}
#secondSelectDiv{
  margin-left:0px;
  padding:0px;
  margin-right:10px;
}
#searchInputArea{
  padding:0px;
  background-color: #a2d5f2;
}
#formInlineCover{
background-color: #a2d5f2;
}